@model KyotoQuiz.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Create from CSV file.";
    ViewData["EndPoint"] = "http://localhost:7265/api/UploadCsv";
}

<h1>@ViewBag.Title</h1>

<h4>Import from csv</h4>
<hr />
<body>
    <h5>CSVファイルをアップロード</h5>

    <form asp-action="CreateFromCsv" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile" accept=".csv">
        <input type="submit" value="Upload" class="btn btn-primary">
    </form>
</body>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
